<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <select v-model="selects" multiple>
            <option value="你好">你好</option>
            <option value="我好">我好</option>
            <option value="大家好">大家好</option>
        </select>
        {{selects}}
        <!---->
        <select v-model="check">
            <option :value="check.value" v-for="(check, index) in checks">
                {{check.name}}
            </option>
        </select>
        {{check}}
    </div>
</body>
<script src="../vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            selects: [],
            checks: [
                {name: '沉默的羔羊', value: '沉默的羔羊'},
                {name: '肖申克的救赎', value: '肖申克的救赎'},
                {name: '美丽人生', value: '美丽人生'}
            ],
            check: '沉默的羔羊'
        }
    })
</script>
</html>