<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <input type="text" @click="get" v-model="t1" @keyup="get"/>
        <ul>
            <li v-for="value in myData">{{value}}</li>
        </ul>
        <p v-show="myData.length == 0">暂无数据</p>
    </div>

    <script src="../vue.1.0.js"></script>
    <script src="../vue-resource.js"></script>
    <script>
            vm = new Vue({
                el: '#app',
                data: {
                    myData: [],
                    t1: ''
                },
                methods: {
                    get(){
                        this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su', {
                            params:{
                                wd: this.t1
                            },
                            jsonp: "cb"
                        }).then(function(res) {
                            this.myData = res.data.s;
                        }, function (){

                        })
                    }
                }
            })
    </script>
</body>
</html>