<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .component-fade-enter-active, .component-fade-leave-active{
            transition: opacity .3s ease;
        }
        .component-fade-enter, .component-fade-leave-active{
            opacity: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="radio" v-model="view" value="v-a"/>A
    <input type="radio" v-model="view" value="v-b"/>B
    <!--
        in-out: 新元素先进行过渡，完成后当前元素过渡离开
        out-in: 当前元素先进行过渡，完成后新元素过渡进来
    -->
    <transition name="component-fade" mode="out-in">
        <component v-bind:is="view"></component>
    </transition>
</div>
<script src="../vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            view: 'v-a',
            is: ''
        },
        components: {
            'v-a': {
                template: '<div>Component A</div>'
            },
            'v-b': {
                template: '<div>Component B</div>'
            }
        }
    })
</script>
</body>
</html>